@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
    background-color: #A57678;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #6A4547;
    color: #fff;
    padding: 20px 70px;

  }

  

 /*seção do header e menu*/ 
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;

  }

.header-img{
    width: 80px;
    
  }

.navigation ul{
    display: flex;
    align-items: center;
    gap: 60px;  
    }

.navigation ul li a{
  color: #fff;
  font-weight: 600;
  padding-bottom: 4px;
  transition: all 0.5s ease-in-out;

}

.navigation ul li a:hover{
  color: #000;
  border-bottom: 1px solid #333;


}
/*final da seção do header e menu*/

/*seção do banner principal com o titulo*/
main section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 10rem;
}

.main-text img{
  width: 15rem;
  margin-bottom: 3vh;
}

.main-text h2{
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.main-text p{
  margin-bottom: 1.5rem;
}


.texto-principal-imagem img{
  width: 15rem;
  margin-bottom: 3vh;
}

.texto-principal-imagem h2{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.texto-principal{
    text-align: center;
}

.principal-img{
  transition: all 1s ease;
  z-index: 100;
}

.principal-img img{
  width: 500px;
  transform: rotate(-7deg);
}
/*final da seção do banner principal*/

/*seção com os icones e informativos*/  
.frete-pagamento{
  background-color: #fff;
  width: 100%;
  margin: 0;
}

.box-icone{
  width: 80px;
  height: 80px;
  border: 2px solid #6A4547;
  border-radius: 10px;
  text-align: center;
}

.box-icone img{
  margin-top: 20px;
  width: 40px;
}

.box-icone-titulo{
  font-size: 22px;
  font-weight: 600;
}

.box-icone-titulo{
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
}

.box-icone-texto{
  font-size: 16px;
  color: #000;
  line-height: 22px;

}
.box-wrapper{
  width: 25%;
  margin-left: 3%;

}

/*final da seção com icones e informativos*/

/*inicio da seção com as imagens e bordas*/
.img-pecas{
  background-color: #fff;
  width: 100%;
  margin: 0%;
}


.box-img-pecas-border{
  position: relative;
  width: 400px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6A4547;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 20px;
}

.box-img-pecas{
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .4);
  overflow: hidden;
  border-radius: 20px;

}

/*final seção duas imagens de produtos*/
.box-brilhosa-background2{
  background-color: #6A4547; 
}

.box-brilhosa-background2-div{
  display: block;
  position: absolute;
  left: 0;
  height: auto;
  
}
.box-brilhosa-background2 img{
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
}

/*seção de exibição dos produtos*/
.texto-principal{
  text-align: center;
}

.texto-principal-title{
  margin-right: 20px;
}

.produto {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }
  
.produto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 20px;
    transition: transform .5s ease;
}

.produto:hover img {
  transform: scale(1.1);
}

.produto h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.produto p {
  font-size: 16px;
  margin-bottom: 10px;
}

.produto button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.produto button:hover {
  background-color:#555;
}


.vermais h3{
  font-size: 25px;
  color: #000;
  margin-bottom: 5px;
}

.vermais a:hover{
  color: #fff;
  border-bottom: 1px solid #003400;
}

/*final da seção de exibição dos produtos*/

/*seção do rodape*/

footer {
background-color: #6A4547;
color: #fff;
padding: 10px;
text-align: center;
}

footer p {
margin: 0;
font-size: 14px;
}



.social-icons {
  text-align: center;
  padding: 20px;
  display: inline-block;
  width: 7%;
  height: 10%;
}

.social-icons li {
  
  margin: 0 10px;
}

.social-icons a:hover{
  border-bottom: 1px solid #fff;
}

